<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .milestone-container {
      display: flex;
      justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .milestone-p{
    text-align: center;
    padding: 0 5px;
  }

  .hexagon{
    
      width: 150px;
      height: 166px;
      margin: 0 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='88' height='98' viewBox='0 0 88 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39 1.88674C42.094 0.100415 45.906 0.100415 49 1.88674L82.3013 21.1132C85.3953 22.8996 87.3013 26.2008 87.3013 29.7735V68.2265C87.3013 71.7991 85.3953 75.1004 82.3013 76.8867L49 96.1132C45.906 97.8996 42.094 97.8996 39 96.1132L5.69873 76.8867C2.60472 75.1004 0.69873 71.7991 0.69873 68.2265V29.7735C0.69873 26.2008 2.60472 22.8996 5.69873 21.1132L39 1.88674Z' fill='url(%23paint0_linear_4_14)' fill-opacity='0.89'/%3E%3Cpath d='M39 4.88674C42.094 3.10041 45.906 3.10042 49 4.88674L79.7032 22.6132C82.7972 24.3996 84.7032 27.7008 84.7032 31.2735V66.7265C84.7032 70.2991 82.7972 73.6004 79.7032 75.3867L49 93.1132C45.906 94.8996 42.094 94.8996 39 93.1132L8.29681 75.3867C5.20279 73.6004 3.29681 70.2991 3.29681 66.7265V31.2735C3.29681 27.7008 5.2028 24.3996 8.29681 22.6132L39 4.88674Z' fill='url(%23paint1_linear_4_14)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_4_14' x1='6.76091' y1='-20.2878' x2='84.1735' y2='89.5892' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0F3F4'/%3E%3Cstop offset='1' stop-color='%235D6061'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_4_14' x1='9' y1='-6' x2='74' y2='96' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FDFDFD'/%3E%3Cstop offset='1' stop-color='%23E4E9EC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(15px 15px 20px #b6b5c6);
    }

  .hexagon-container{
    display:flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
  }

  @media only screen and (max-width: 600px){
    .hexagon-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
    .milestone-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="page-width rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <h1>Company Milestone</h1>
    <div class="milestone-container">
      <div class="hexagon-container">
        <div class="hexagon">
          <h2>1985</h2>
        </div>
        <p class="milestone-p">Chemworld Marketing.</p>
      </div>
      <div class="hexagon-container">
        <div class="hexagon">
          <h2>1987</h2>
        </div>
        <p class="milestone-p">Industrial Product Division, focusing on the Specialty Chemicals and Ingredients for the personal care industry, was built as the core business of CMC.</p>
      </div>
      <div class="hexagon-container">
        <div class="hexagon">
          <h2>2004</h2>
        </div>
        <p class="milestone-p">CMC started a new business concpet named Chemworld Fragrance Factory with the advocacy of promoting perfume making as a livelihood business.</p>
      </div><div class="hexagon-container">
        <div class="hexagon">
          <h2>2015</h2>
        </div>
        <p class="milestone-p">CMC introduced Aeromark as a new business line that focuses on air-scenting.</p>
      </div>
    </div>
    
  </div>
</div>


{% schema %}
{
  "name": "Company Milestone",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 10,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
